.toa-container {
    position: relative; /* Set the parent container to relative position */
  }
  
  .image-container {
    position: absolute;
    top: 0; /* Adjust top position as needed */
    left: 0; /* Adjust left position as needed */
  }
  
  h3 {
    margin-bottom: 5px; /* Add some spacing below the heading */
  }
  
  .checkbox-container {
    position: absolute;
    bottom: 0; /* Adjust bottom position as needed */
    right: 0; /* Adjust right position as needed */
  }